* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body,
.home,
.events {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  text-align: center;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  flex-wrap: wrap;
}

.header {
  width: 100vw;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  font-weight: bold;
  font-size: 1.5rem;
  padding: 1rem;
  background: #61dafb;
}
.header .logo {
  color: #282c34;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  gap: 1rem;
}

.header .searchbar {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  gap: 1rem;
  padding: 1rem;
}
.header .searchbar input {
  padding: 0.5rem;
  border: 1px solid #282c34;
  border-radius: 10px;
  background-color: #fff;
  width: 25rem;
}
.header .searchbar button {
  padding: 0.5rem;
  border: 1px solid #282c34;
  border-radius: 10px;
  background-color: #fff;
  cursor: pointer;
}
.header .searchbar button:hover {
  background-color: #282c34;
  color: #fff;
  transform: scale(1.1);
}
.detail {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100vw;
}
.logo img {
  width: 40px;
  height: 40px;
}
.eventdetails {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-bottom: 3rem;
  text-align: center;
  justify-content: flex-start;
  flex-wrap: wrap;
  margin-top: 2rem;
  width: 70vw;
}

.eventdetail,
.ticket-purchase-screen {
  box-sizing: border-box;
  margin-top: 3rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 3rem;
  text-align: center;
  justify-content: flex-start;
  flex-wrap: wrap;
  width: 50%;
}
.map {
  box-sizing: border-box;
  margin: 3rem;
  width: 40%;
  height: 50%;
  border: 3px solid #282c34;
}
.main {
  padding: 1rem;
  margin: 1rem;
  margin-top: 2rem;
  margin-bottom: 2rem;
  background-color: bisque;

  box-sizing: border-box;
  text-align: start;
}
.create-country {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.eventlist {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-bottom: 3rem;
  text-align: center;
  justify-content: flex-start;
  width: 60vw;
}
.main > div {
  margin: 1rem;
  padding: 1rem;
  background-color: bisque;
  min-width: 70vw;
  box-sizing: border-box;
  text-align: start;
}

.slider {
  margin-bottom: 3rem;
}
.popular {
  margin-bottom: 3rem;
}
.upcoming {
  margin-bottom: 3rem;
}

.events {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.footer {
  width: 100vw;

  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  color: aliceblue;
  font-size: 1.1rem;
  padding: 1rem;
  padding-left: 0rem;
  margin-left: 0rem;
  background: #7c8a8e;
}

.navbar {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: flex-start;
  width: 18vw;
  box-sizing: border-box;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

li {
  padding: 1rem;
  border: 1px solid black;
  border-radius: 10px;
  margin: 4px;
  background-color: cadetblue;
}
li:hover {
  background-color: #f07c7c;
  color: #fff;
  transform: scale(1.1);
}

a {
  font-weight: bold;
  text-decoration: none;
  color: #ffffff;
  padding: 5px;
}

.eventtable {
  width: 100%;
  border-collapse: collapse;
}

.eventtable th,
.eventtable td {
  padding: 10px;
  text-align: left;
  border-bottom: 1px solid #ddd;
}

.eventtable th {
  background-color: #f2f2f2;
}
.eventtable tbody tr:nth-child(odd) {
  background-color: #fff;
}
.eventtable tbody tr:nth-child(even) {
  background-color: #f9f9f9;
}

.eventtable tbody tr:hover {
  background-color: #f5f5f5;
}

.eventtable img {
  max-width: 100px;
  height: auto;
}
.eventtable td a {
  color: #000;
  text-decoration: none;
}
.eventtable td a:hover {
  color: #f07c7c;
  text-decoration: underline;
}
.selectedTable {
  background-color: #b43e3e;

  transform: scale(1.01);
}
