.mapcontainer {
  width: 300px !important;
  height: 300px !important;
}
.mapmarker text {
  width: 300px !important;
  height: 300px !important;
  border-radius: 50% !important;
  background-color: #ff0000 !important;
  border: 1px solid #ff0000 !important;
}
